html, body{
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.isValid{
    background-color: lightgreen;
    color: green;
}

.notValid{
    background-color: pink;
    color: red;
}

#img {
  display: flex;
  justify-content: top;
  align-items: top;
  vertical-align: top;
}